blinker>=1.8
click>=8.1
dateparser>=1.0
Flask>=2.0
Flask-Mail>=0.10.0
itsdangerous>=2.2.0
Jinja2>=3.1.6
MarkupSafe>=3.0.2
pypandoc>=1.11
python-dateutil>=2.9.0.post0
python-frontmatter>=1.1.0
markdown>=3.8
pytz>=2025.2
PyYAML>=5.0
regex>=2024.11.6
six>=1.17.0
tzlocal>=5.3.1
Werkzeug>=3.1.3
